body{
    background-color: aliceblue;
}
.loginForm{     
    position: relative;
    top: 100px;
}
.Login_input{
    width:100%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    background: azure;
}
.Submit_Button{
    width:100%;
    padding: 10px;
    outline: none;
    border-radius: 0px;
    border: none;
    background: rgb(213, 221, 94)
}
/* .LeftSide{
    background-image: url("../assets/Lab1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

} */